@model bangazon_inc.Models.OrderDetail

@{
    ViewBag.Title = "Index";
}

<h2>Order Details</h2>

<table class="table">
    <tr>
        <th>Product Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

    @for (int i = 0; i < ViewBag.OrderDetails.Count; i++)
    {
        <tr>
            <td>
                @ViewBag.OrderDetails[i].Product.Id
            </td>
            <td>
                @ViewBag.OrderDetails[i].Product.Name
            </td>
            <td>
                @ViewBag.OrderDetails[i].Product.Price
            </td>
            <td>
                @ViewBag.OrderDetails[i].Product.Description
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = ViewBag.OrderDetails[i].Product.Id }) |
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Checkout", "Checkout") |
    @Html.ActionLink("Add product", "Index")
</p>
